name: Deploy to HOM and PROD

on:
  pull_request:
    branches: [main]
    types: [closed]

jobs:
  deploy-hom:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Clonar scripts
        run: git clone https://x-access-token:${{ secrets.INFRA_REPO_TOKEN }}@github.com/DMarcatti/infra-deploy-scripts.git

      - name: Carregar variáveis HOM
        run: source infra-deploy-scripts/environments/hom.env

      - name: Deploy HOM
        run: bash infra-deploy-scripts/scripts/deploy-blue-green.sh

  deploy-prod:
    needs: deploy-hom
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    environment:
      name: production
    steps:
      - name: Solicitar CHG
        run: echo "Aguardando aprovação manual e número da CHG..."

      - name: Clonar scripts
        run: git clone https://x-access-token:${{ secrets.INFRA_REPO_TOKEN }}@github.com/DMarcatti/infra-deploy-scripts.git

      - name: Carregar variáveis PROD
        run: source infra-deploy-scripts/environments/prod.env

      - name: Deploy PROD
        run: bash infra-deploy-scripts/scripts/deploy-blue-green.sh

      - name: Atualizar README com CHG
        run: |
          echo "## Último Deploy" > README.md
          echo "- Ambiente: PROD" >> README.md
          echo "- CHG: CHG123456" >> README.md
          echo "- Data: $(date +'%Y-%m-%d %H:%M')" >> README.md
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add README.md
          git commit -m "Atualiza README com CHG CHG123456"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
